AI_DAILY_TOKEN_QUOTA=
AI_FALLBACK_PROVIDER=
AI_MAX_OUTPUT_TOKENS=
AI_MEMORY_ENABLED=
AI_PROVIDER=
AI_TIMEOUT_MS=
API_HOST=
API_PORT=
API_SECRET=
API_SERVER_ENABLED=
ATLAS_VECTOR=
AUTO_BOOTSTRAP=
BOT_INVITE_URL=
CACHE_DRIVER=
CLIENT_ID=
CLIENT_SECRET=
DASHBOARD_ENABLED=
DASHBOARD_PUBLIC_URL=
DEBUG_MODE=
DEFAULT_LOCALE=
DEFAULT_PREFIX=
DEVELOPER_IDS=
DEV_GUILD_ID=
DISCORD_DOMAIN_VERIFICATION=
DISCORD_TOKEN=
DM_COMMANDS_ENABLED=
DOCS_URL=
EMBEDDING_MODEL=
ERROR_WEBHOOK_URL=
GROQ_API_KEY=
GROQ_MODEL=
HIDE_DISABLED_COMMANDS=
LAVALINK_HOST=
LAVALINK_NAME=
LAVALINK_PASSWORD=
LAVALINK_PORT=
LAVALINK_SECURE=
LOG_LEVEL=
LOG_TO_FILE=
MEMORY_MAX_FACTS_PER_USER=
MEMORY_MAX_VECTORS_PER_USER=
MEMORY_SESSION_TOKEN_BUDGET=
MEMORY_TTL_DAYS=
MENTION_AS_PREFIX=
MLBB_API_BASE=
MLBB_API_MIRROR=
MLBB_AUTO_SYNC=
MLBB_CACHE_TTL=
MLBB_PREFER_DIRECT=
MLBB_SYNC_CRON=
MLBB_TIMEOUT_MS=
MODULE_AI_COACH=
MODULE_AI_MEMORY=
MODULE_AI_TRANSLATION=
MODULE_ANNOUNCEMENTS=
MODULE_AUTOMOD=
MODULE_AUTOROLE=
MODULE_ECONOMY=
MODULE_GIVEAWAYS=
MODULE_LEADERBOARD=
MODULE_LEVELING=
MODULE_LOGS=
MODULE_MLBB_DRAFT=
MODULE_MLBB_HEROES=
MODULE_MLBB_NEWS=
MODULE_MLBB_PLAYERS=
MODULE_MLBB_SCRIMS=
MODULE_MLBB_TIERLIST=
MODULE_MLBB_TOURNAMENTS=
MODULE_MODERATION=
MODULE_MUSIC=
MODULE_POLLS=
MODULE_PRAYER=
MODULE_QURAN=
MODULE_REACTIONROLES=
MODULE_SHOP=
MODULE_SUGGESTIONS=
MODULE_TICKETS=
MODULE_VERIFICATION=
MODULE_WELCOME=
MONGO_DB_NAME=
MONGO_POOL_SIZE=
MONGO_URI=
MOONTON_API_BASE=
MUSIC_DEFAULT_VOLUME=
MUSIC_IDLE_TIMEOUT=
MUSIC_MAX_QUEUE_SIZE=
OPENAI_API_KEY=
OPENAI_MODEL=
OPENROUTER_API_KEY=
OPENROUTER_APP_NAME=
OPENROUTER_FALLBACK_MODELS=
OPENROUTER_MODEL=
OPENROUTER_SITE_URL=
OWNER_IDS=
PRAYER_API_BASE=
PRAYER_DEFAULT_CITY=
PRAYER_DEFAULT_COUNTRY=
PRAYER_METHOD=
PREFIX_COMMANDS_ENABLED=
PREFLIGHT_STRICT=
PRUNE_GUILD_ID=
QURAN_RECITERS_API=
QURAN_STREAMS=
REDIS_URL=
SHARDING_ENABLED=
SLASH_COMMANDS_ENABLED=
SUPPORT_SERVER_URL=
TIMEZONE=
WEBSITE_DEFAULT_LANG=
WEBSITE_ENABLED=
WEBSITE_URL=